<div class="card">
  <img [ngStyle]="{'height': '260px'}" [src]="card.thumbnail" class="card-img-top" [alt]="card.header">
  <div class="card-body">
    <h5 class="card-title"> {{ card.header }}</h5>
    <p class="card-text card-desc-height"> {{ card.subHeader }}
    </p>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: {{ card.price }}</li>
    <li class="list-group-item">Rating: {{ card.rating }}</li>
    <li class="list-group-item">Stock: {{ card.stock }}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="btn btn-dark">More Info</a>
    <button [disabled]="isDisabled" (click)="onSelect()"
      [ngClass]="{'btn-primary': !isDisabled, 'btn-secondary': isDisabled}" class="ms-3 btn">Add to cart</button>
  </div>
</div>